<div id="footer" class="d-flex align-items-end">
    <span class="mr-auto">&copy; 2023. Jo Clancy</span>
    <span>
        <a href="https://www.instagram.com/joclancy_creative" class="d-inline-block text-decoration-none"><img src="/img/insta.svg" alt="Instagram" /></a>
        <a href="https://www.linkedin.com/in/jo-clancy-10714726" class="d-inline-block text-decoration-none"><img src="/img/linkedin.svg" alt="LinkedIn" /></a>
    </span>
</div>
<div id="footer-nav" class="d-xl-none bg-primary d-flex justify-content-around">
    <a href="/services" class="text-white text-decoration-none">SERVICES</a>
    <a href="/experience" class="text-white text-decoration-none">EXPERIENCE</a>
    <a href="/about" class="text-white text-decoration-none">ABOUT</a>
    <a href="/contact" class="text-white text-decoration-none">CONTACT</a>
</div>