<div id="footer" class="d-flex align-items-end">
    <span class="mr-auto">&copy; 2021. Jo Clancy</span>
    <span>
        <a href="#" class="d-inline-block text-decoration-none"><img src="/img/insta.svg" /></a>
        <a href="#" class="d-inline-block text-decoration-none"><img src="/img/linkedin.svg" /></a>
    </span>
</div>
<div id="footer-nav" class="d-xl-none bg-primary d-flex justify-content-around">
    <a href="/services" class="text-white text-decoration-none">SERVICES</a>
    <a href="/experience" class="text-white text-decoration-none">EXPERIENCE</a>
    <a href="/about" class="text-white text-decoration-none">ABOUT</a>
    <a href="/contact" class="text-white text-decoration-none">CONTACT</a>
</span>