<div id="header" class="row">
    <div class="col-xl-6 p-xl-0 text-center text-xl-left">
        <a href="/"><img src="/img/logo.svg" /></a>
    </div>
    <div class="col-xl-6 p-xl-0 d-none d-xl-flex align-items-center justify-content-center">
        <span>
            <a href="/services" class="text-decoration-none">SERVICES</a>
            <a href="/experience" class="text-decoration-none">EXPERIENCE</a>
            <a href="/about" class="text-decoration-none">ABOUT</a>
            <a href="/contact" class="text-decoration-none">CONTACT</a>
        </span>
    </div>
</div>