<div id="header" class="row">
    <div class="col-xl-6 p-xl-0 text-center text-xl-left">
        <a href="/"><img src="/img/logo.svg" alt="Jo Clancy : Graphic Designer" /></a>
        <a id="burger" href="#" class="d-xl-none" onclick="toggleFlyout()"><img src="/img/icon-menu.svg" alt="Menu" /></a>
        <a id="burger-close" href="#" class="d-xl-none" onclick="toggleFlyout()"><img src="/img/icon-close.svg" alt="Close" /></a>
    </div>
    <div class="col-xl-6 p-xl-0 d-none d-xl-flex align-items-center justify-content-center">
        <span>
            <a href="/services" class="text-decoration-none {{ cond (eq .Title "Services") "active" "" }}">SERVICES</a>
            <a href="/experience" class="text-decoration-none {{ cond (eq .Title "Experience") "active" "" }}">EXPERIENCE</a>
            <a href="/about" class="text-decoration-none {{ cond (eq .Title "About") "active" "" }}">ABOUT</a>
            <a href="/contact" class="text-decoration-none {{ cond (eq .Title "Contact") "active" "" }}">CONTACT</a>
        </span>
    </div>
</div>