{{ define "main" }}
<div id="page-about" class="page row m-0">
    <div class="page-summary col-xl p-xl-0 text-center text-xl-left">
        <div>
            <h1>ABOUT ME</h1>
            <p>
                Logical, a perfectionist, honest<br class="d-md-none" /> and<br class="d-none d-md-inline" /> friendly – I like to work in<br class="d-md-none" /> partnership<br class="d-none d-md-inline" /> with my clients to<br class="d-md-none" /> provide beautiful<br class="d-none d-md-inline" /> design solutions<br class="d-md-none" /> that achieve results.
            </p>
            <a href="/contact" class="button d-none d-xl-inline-block">CONTACT</a>
        </div>
    </div>
    <div class="page-detail col-xl p-xl-0 text-center text-xl-left">
        <div>
            <section class="process">
                <h3>MY PROCESS</h3>
                <div class="d-md-none">                    
                    <p><span class="font-weight-bold">1</span>&nbsp;&nbsp;Listen.&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-weight-bold">2</span>&nbsp;&nbsp;Research.&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-weight-bold">3</span>&nbsp;&nbsp;Plan.</p>
                    <p><span class="font-weight-bold">4</span>&nbsp;&nbsp;Create.&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-weight-bold">5</span>&nbsp;&nbsp;Deliver</p>
                </div>
                <div class="d-none d-md-block">
                    <p><span class="font-weight-bold">1</span>&nbsp;&nbsp;Listen.</p>
                    <p><span class="font-weight-bold">2</span>&nbsp;&nbsp;Research.</p>
                    <p><span class="font-weight-bold">3</span>&nbsp;&nbsp;Plan.</p>
                    <p><span class="font-weight-bold">4</span>&nbsp;&nbsp;Create.</p>
                    <p><span class="font-weight-bold">5</span>&nbsp;&nbsp;Deliver</p>
                </div>
            </section>
            <section>
                <h3>THE BALANCE</h3>
                <p>Work aside, I am also a wife, mother and dog<br class="d-md-none" /> mother. I love countryside<br class="d-none d-md-inline" /> adventures and trips<br class="d-md-none" /> to the coast. I am a lifelong sports enthusiast<br class="d-md-none" /> and newbie<br class="d-none d-md-inline" /> gardener with a taste for Italian<br class="d-md-none" /> food. I also like to spend time on my own<br /> creative projects, exploring new programmes<br class="d-md-none" /> and techniques and<br class="d-none d-md-inline" /> developing my skills.</p>
            </section>
            <a href="/contact" class="button d-inline-block d-xl-none">CONTACT</a>
        </div>
    </div>
</div>
{{ end }}