{{ $bgCls := .Params.cls }}
<!doctype html>
<html lang="en" class="h-100">
{{- partial "head.html" . -}}
<body class="h-100 {{$bgCls}}">
    <div class="body-inner h-100 bg-rings">
        <div class="h-100">
            <div class="h-100">
                {{- partial "header.html" . -}}
                <div id="content" class="h-100">
                    {{- block "main" . }}{{- end }}
                </div>
                {{- partial "footer.html" . -}}
            </div>
        </div>
    </div>
    <div id="flyout">
        <a href="/services" class="text-decoration-none {{ cond (eq .Title "Services") "active" "" }}">SERVICES</a>
        <a href="/experience" class="text-decoration-none {{ cond (eq .Title "Experience") "active" "" }}">EXPERIENCE</a>
        <a href="/about" class="text-decoration-none {{ cond (eq .Title "About") "active" "" }}">ABOUT</a>
        <a href="/contact" class="text-decoration-none {{ cond (eq .Title "Contact") "active" "" }}">CONTACT</a>
        <div class="social">
            <a href="https://www.instagram.com/joclancy_creative"><img src="/img/insta.svg" alt="Instagram" /></a>
            <a href="https://www.linkedin.com/in/jo-clancy-10714726"><img src="/img/linkedin.svg" alt="LinkedIn" /></a>
        </div>
    </div>
    <div id="splash" class="splash splash-off">
        <div class="splash-rings"></div>
        <div class="splash-logo"></div>
    </div>
    {{- partial "scripts.html" . -}}
</body>
</html>