{{ define "main" }}
<div id="page-experience" class="page row m-0">
    <div class="page-summary col-xl p-xl-0 text-center text-xl-left">
        <div>
            <h1>EXPERIENCE</h1>
            <p>
                With more than a decade of<br class="d-md-none" /> agency<br class="d-none d-md-inline" /> experience, I am<br class="d-md-none" /> privileged to have<br class="d-none d-md-inline" /> produced work<br class="d-md-none" /> for some of the world’s<br class="d-none d-md-inline" /> leading<br class="d-md-none" /> brands as well as small local<br /> companies and charities.
            </p>
            <a href="/contact" class="button d-none d-xl-inline-block">CONTACT</a>
        </div>
    </div>
    <div class="page-detail col-xl p-xl-0 text-center text-xl-left">
        <div>
            <section>
                <h3>PORTFOLIO</h3>
                <p>I am not currently able to display my work<br class="d-md-none" /> publicly. If you would like to receive a<br /> bespoke copy of my portfolio or find out more<br class="d-md-none" /> about my experience, please<br class="d-none d-md-inline" /> get in touch<br class="d-md-none" /> and I would be delighted to help.</p>    
            </section>
            <section>
                <img src="/img/logos.png" alt="Logos" />
            </section>
            <a href="/contact" class="button d-inline-block d-xl-none">CONTACT</a>
        </div>
    </div>
</div>
{{ end }}