{{ define "main" }}
<div id="page-services" class="page row m-0">
    <div class="page-summary col-xl text-center text-xl-left">
        <div>
            <h1>SERVICES</h1>
            <p>
                With a perfectionist’s eye for detail,<br class="d-md-none" /> I take<br class="d-none d-md-inline" /> pride in delivering high-<br class="d-md-none" />quality, effective<br class="d-none d-md-inline" /> work on time and<br class="d-md-none" /> within budget. My<br class="d-none d-md-inline" /> services cover<br class="d-md-none" /> the following main areas.
            </p>
            <a href="/experience" class="button d-none d-xl-inline-block">EXPERIENCE</a>
        </div>
    </div>
    <div class="page-detail col-xl text-center text-xl-left">
        <div>
            <ul class="p-0">
                <li>
                    <h3>BRANDING</h3>
                    <div>Full brand generation, brand refresh,<br class="d-xxl-none" /> brand development, brand<br class="d-none d-xxl-inline" /> guidelines.</div>
                </li>
                <li>
                    <h3>DIGITAL DESIGN</h3>
                    <div>Web design, email design and build,<br class="d-xxl-none" /> banner ads, social media creation,<br /> PowerPoint presentations.</div>
                </li>
                <li>
                    <h3>PRINT DESIGN</h3>
                    <div>Brochures, reports, flyers, stationery.</div>
                </li>
            </ul>
            <a href="/experience" class="button d-inline-block d-xl-none">EXPERIENCE</a>
        </div>
    </div>
</div>
{{ end }}