{{ define "main" }}
<div id="page-home" class="page">
    <div>
        <p>
            I am a highly skilled, <br class="d-md-none" />creative <br class="d-none d-md-inline" />
            graphic <br class="d-md-none" />designer with 10 years’ <br />
            experience across<br class="d-md-none" /> branding, <br class="d-none d-md-inline" />
            print and<br class="d-md-none" /> digital design.
        </p>
        <a href="/services" class="button">SERVICES</a>
    </div>
</div>
{{ end }}