@include media-breakpoint-up(md) { 
  .bg-rings {
    background-size: 600px;
  }

  .page-summary {
    margin-top: 0;
    padding: 0;

    p {
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 40px;
    }    
  }

  .contact-form {
    max-width: 75%;
  }
}
